<!DOCTYPE html>
<html>

<head>
  <title>Pimpom</title>
  <%= csrf_meta_tags %>
  <meta name="theme-color" content="#ac57bc" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<body>

  <nav>
    <div class="nav-wrapper purple lighten-1">
      <a href="/" class="brand-logo center">PimPom</a>

    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
  
  
</body>

</html>